<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="ApiBaseUrl" value="https://api.onspring.com/v1"/>
    <add key="ApiKey" value="NEEDS TO BE SET"/>
    <add key="UsersAppId" value="NEEDS TO BE SET"/>
    <add key="UsernameFieldId" value="NEEDS TO BE SET"/>
    <add key="FirstNameFieldId" value="NEEDS TO BE SET"/>
    <add key="LastNameFieldId" value="NEEDS TO BE SET"/>
    <add key="EmailFieldId" value="NEEDS TO BE SET"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
